---
import BaseHead from "../components/layout/BaseHead.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FoodTruck from "/public/food_truck.jpg";
import Image from "astro/components/Image.astro";
import FromTheBlog from "../components/blog/FromTheBlog.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body
    class="font-poppins border-t-[2rem] border-t-orange-300 border-b-[4rem] border-b-emerald-200"
  >
    <Header />
    <div class="container mx-auto">
      <main>
        <h1 class="text-8xl mb-4 w-2/3 font-medium pt-12 leading-[5.25rem]">
          <span class="text-6xl font-semibold">Welcome to</span>
          <br />Alan &amp; Zack...
        </h1>
        <p class="w-2/3 leading-7 mb-12">
          A food blog by two friends that enjoy a good scran.
        </p>
        <Image
          src={FoodTruck}
          alt="A food truck stuffed with Karaage Chicken"
          class="mb-12 rounded-md"
        />
        <FromTheBlog />
        <Footer />
      </main>
    </div>
  </body>
</html>
