---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/layout/BaseHead.astro";
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
import { ViewTransitions } from "astro:transitions";
import FoodTruck from "/public/food_truck.jpg";
import Image from "astro/components/Image.astro";

const { title, description = "" } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <script
      type="text/javascript"
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <ViewTransitions />
  </head>

  <body class="font-poppins">
    <div class="min-h-screen grid grid-cols-12 h-full">
      <div class="bg-black p-8 text-slate-50 col-span-5 pt-16">
        <h1 class="text-8xl">Alan <br />& Zack</h1>

        <p class="text-lg font-medium mr-13">
          Ever realised you eat too much, like to eat out, constantly spend
          money on grub and always exploring food? In short that's how we got
          here, we hope you enjoy the ride.
        </p>
      </div>
      <div class="bg-white col-span-7">
        <Image
          src={FoodTruck}
          alt="A food truck stuffed with Karaage Chicken"
          class="mb-8"
        />
        <div class="p-6">
          <h2 class="text-black text-3xl">These are headings</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit iure
            distinctio excepturi libero harum quo alias, impedit vero cum
            itaque? Recusandae expedita, ducimus ipsam doloribus temporibus
            cupiditate deserunt esse iure?
          </p>
          <h2 class="text-black text-3xl">These are headings</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit iure
            distinctio excepturi libero harum quo alias, impedit vero cum
            itaque? Recusandae expedita, ducimus ipsam doloribus temporibus
            cupiditate deserunt esse iure?
          </p>
          <h2 class="text-black text-3xl">These are headings</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit iure
            distinctio excepturi libero harum quo alias, impedit vero cum
            itaque? Recusandae expedita, ducimus ipsam doloribus temporibus
            cupiditate deserunt esse iure?
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
