---
import SubHeading from "../headings/SubHeading.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../FormattedDate.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<section>
  <SubHeading title="From the blog" />

  <p class="text-2xl font-extralight leading-relaxed mb-8 max-w-prose">
    As food writers we should probably write stuff, feel free to browse what
    we've been writing about.
  </p>

  <ul class="list-disc ml-12">
    {
      posts.map((post) => (
        <li class="text-2xl font-thin">
          <a href={`/blog/${post.slug}/`}>
            <FormattedDate date={post.data.pubDate} /> - {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</section>
